<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./components/head') %>
</head>

<body>

    <%- include('./components/nav') %>

    <header>
        <% if(message != "") {%>
        <%- include('./components/alerts') %>
        <% } %>
    </header>

    <main>

        <section id="cards">

        <% pokedex.forEach((pokemon)=> { %>

              <div class="card">
                  
                  <h3> <%= pokemon.nome %> </h3>
                  <img src="<%= pokemon.imagem %>" alt="">
                  <p class="Descricao">Descriçao: <%= pokemon.descricao %> </p> <br>
                  <p class="Tipo">Tipo: <%= pokemon.tipo %> </p> 
                  <a id="editar" href="/getById/<%= pokemon.id%>/put " >Editar Pokemon</a>
                  <a id="apagar" href="/getById/<%= pokemon.id%>/delete ">Apagar Pokemon</a>

              </div>

              <% }) %>

        </section>
    </main>

    <% if (pokemonPut != null) {%>
       <%- include('./components/modalPut') %>
    <% } %>

    <% if (pokemonDel != null) {%>
        <%- include('./components/modalDel') %>
     <% } %>

    <%- include('./components/footer') %>


    <script src="/script.js"></script>
</body>
</html>